extends layout

block content
  h1= title
  p Type in the word before it reaches the end
  canvas(id="can" width="300" height="200")
  p(id="success")
  script(src="/javascripts/quickword-compiled.js")
